.button-wrapper {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.button-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
